<%= form_with(model: @task, local: true ) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="field">
    <li><%= form.label :title %></li>
    <li><%= form.text_field :title %></li>
  </ul>

  <ul class="field">
    <li><%= form.label :content %></li>
    <li><%= form.text_field :content %></li>
  </ul>

  <ul class="field">
    <li><%= form.label :deadline %></li>
    <li><%= form.date_select :deadline %></li>
  </ul>

  <ul class="field">
    <li><%= form.label :status %></li>
    <li><%= form.select :status, { 未着手: "未着手", 着手中: "着手中", 完了: "完了" } %>
  </ul>

   <ul class="field">
    <li><%= form.label :priority %></li>
    <li><%= form.select :priority, Task.priorities.keys %>
  </ul>

  <ul class="field">
  <li><%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %></li>
  </ul>

  <ul class="actions">
    <li><%= form.submit %></li>
  </ul>
<% end %>
