<h1><%= @user.name %>さんのページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<p>タスク数: <%= @user.tasks.count %></p>

<%= link_to '設定変更', edit_user_path(@user), class: 'btn btn-success' %> |
<%= link_to '戻る', :back, class: 'btn btn-warning' %> 
