<h1>菅理画面：<%= @user.name %>さんのページ</h1>

<p>メールアドレス: <%= @user.email %></p>


<table>
  <thead>
    <tr>
      <th><%= t('view.title') %></th>
      <th><%= t('view.content') %></th>
      <th><%= t('view.deadline') %></th>
      <th><%= t('view.status') %></th>
      <th class='kado'><%= t('view.priority') %></th>
    
    </tr>
  </thead>

  <tbody>
    <% @tasks.where(user_id: @user.id).each do |task| %>
      <tr id='task_row'>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.deadline %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '設定変更', edit_admin_user_path(@user), class: 'btn btn-success' %> |
<%= link_to '戻る', :back, class: 'btn btn-warning' %> 
